@import 'https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,400i,700';

html, body {
  font-size: 2em;
  font-family: Fira Sans, sans-serif;
  color: #333;
}

.reveal .sourceCode {
  font-family: Fira Mono, monospace;
  font-size: .9em;
  margin: 1em 0;
  margin-top: 0;
}

.reveal .title {
  font-size: 1.5em;
}

.reveal .subtitle {
  font-size: 1em;
  color: #555;
}

.reveal .author {
  margin-top: 3em;
  font-size: .8em;
}

.reveal .slide {
  text-align: left;
  font-size: .5em;
  top: auto!important;
}

/* Sorry, override hard-coded styles in reveal.css */
.reveal.center .slides section.callout {
  top: 50%!important;
  transform: translateY(-50%);
}

.reveal .slide > h1 {
  margin-bottom: .8em;
  padding-bottom: .2em;
  border-bottom: 1px solid;
  font-size: 1.5em;
}

.reveal .slide ul {
  padding-left: 1em;
}

.reveal .slide li {
  margin: .5em 0;
}

#stylo figure {
  max-height: 60vh;
  overflow: hidden;
  position: relative;
  margin: .5em;
}

#stylo figcaption {
  position: absolute;
  background: rgba(0, 0, 0, .8);
  padding: .5em 0;
  width: 100%;
  display: block;
  bottom: 0;
  color: white;
  text-align: center;
}

#stylo img {
  max-width: 100%;
}

.reveal .slide h1:only-child {
  font-size: 3em;
  text-align: center;
  margin: 0;
  border: 0;
}

#rust figcaption,
#servo figcaption {
  display: none;
}

img {
  max-width: 100%;
}

#rust figure,
#servo figure,
#motivations figure {
  text-align: center;
  margin: 1em;
}

#rust img,
#servo img,
#motivations img {
  max-height: 30vh;
}

#motivations figcaption {
  font-size: .7em;
  color: #666;
}

.navigate-up,
.navigate-down {
  display: none;
}

#thanks-mozilla {
  text-align: center;
}

#thanks-mozilla img {
  width: 65px;
  animation: heart 1s infinite linear;
}

#geckos-layout-model {
  text-align: center;
}

#geckos-layout-model h1 {
  margin: 0;
}

/* This is my manual, shitty hand-rolled version, sorry
@keyframes heart {
  from { transform: scale(1); }
  20% { transform: scale(1.1); }
  30% { transform: scale(1.15); }
  40% { transform: scale(1.25); }
  60% { transform: scale(0.9); }
  70% { transform: scale(0.85); }
  80% { transform: scale(0.9); }
  to { transform: scale(1); }
}*/
@keyframes heart {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}
